<h3>Lobby <small>Click any open table!</small></h3>
<div class="tables">
  <div class="table heading">
    <div class="name">
      <p>Table Name</p>
    </div>
    <div class="seats">
      <p>Seats</p>
    </div>
    <div class="locked">
      <p>&#x1f512;</p>
    </div>
  </div>
  {{#tables}}
    <div class="table">
      <div class="name"><a id="{{name}}" class="{{#open}}open{{/open}}" href="#table/{{name}}">Table {{name}}</a></div>
      <div class="seats">{{taken}}/{{seats}}</div>
      <div class="locked">{{#private}}yes{{/private}}{{^private}}no{{/private}}</div>
    </div>
  {{/tables}}
  <div class="clear"></div>
</div>