{{#table}}
  <div class="current_table">
    <div id="dealer-box">
      {{> blackjack-dealer }}
    </div>

    <div class="player-box">
      {{#player}}
        {{> blackjack-player }}
      {{/player}}
    </div>

    <div class="players-boxes">
      {{#players}}
        {{> blackjack-players }}
      {{/players}}
      
      {{#emptyseats}}
        {{> blackjack-emptyseat }}
      {{/emptyseats}}
    </div>
    <div class="clear"></div>
  </div>
  <div id="gamelog">
    <h4>Game History</h4>
  </div>
{{/table}}