<section id="play">
  <div id="stats">
    <div class="purse">
      <img class="stat" src="/img/icons/coins.png" alt="Coins">
      <div class="stat" id="purse_value">$ 500</div>
      <div class="clear"></div>
    </div>
  </div>
  
  <nav>
    <a href="#">+</a>
    <ul>
      <li><a href="#">Min</a></li>
      <li><a href="#">+10</a></li>
      <li><a href="#">Max</a></li>
      <!-- <li><a href="#">&#x2601;</a></li> -->
      <!-- <li><a href="#">&hearts;</a></li> -->
      <!-- <li><a href="#">&#x263A;</a></li> -->
    </ul>
  </nav>  
</section>

<section id="test">
  <figure id="grid">
    <div class="col col1"></div>
    <div class="col col2"></div>
    <div class="col col3"></div>
    <div class="col col4"></div>
    <div class="col col5"></div>
    <div class="col col19"></div>
    <div class="col col20"></div>
    <div class="col col21"></div>
    <div class="col col22"></div>
    <div class="col col23"></div>
  </figure>
</section>

<section id="read">Test</section>