<section id="play">
  <div class="menu">
    <div id="stats">
      <div class="purse statholder stackable">
        <div class="stat icon stackable"><img class="" src="/img/icons/coins.png" alt="Coins"></div>
        <div class="stat stackable" id="purse_value_container">
          <span class="menutext" id="purse_value">
            {{#player}}{{player.purse}}{{/player}}
            {{^player}}- -{{/player}}
          </span>
        </div>
        <div class="clear"></div>
      </div>

      <div class="divider stackable">&nbsp;</div>

      <div class="leaderboards statholder stackable">
        <div class="stat icon stackable"><a href="#"><img class="" src="/img/icons/trophy.png" alt="Leaderboard Trophy"></a></div>
        <div class="stat stackable"><a href="#">Leaderboards</a></div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  
  <div id="jsnoscript">
    <p>This website requires JavaScript to enjoy (for the moment).</p>
  </div>

  <div id="alltables">
    {{!> blackjack-listtables }}
  </div>

  <div id="current_table">
    {{!> blackjack-table }}
  </div>
  
  {{>common-radialui}}
</section>

{{!>common-test}}

{{!>common-rulers}}

{{>common-docs}}

{{> common-colophon}}

{{> common-minifooter}}