@import "constants";

/*// defaults
@x-action1: 198px;
@x-action2: 185px;
@x-action3: 159px;
@x-action4: 122px;
@x-action5: 77px;
@x-action6: 26px;

@y-action1: -26px;
@y-action2: -77px;
@y-action3: -122px;
@y-action4: -159px;
@y-action5: -185px;
@y-action6: -198px;*/

/*.action4, .action5, .action6 {
  display: none;
}
*/
/*
@x-action1: 99px;
@x-action2: 92px;
@x-action3: 79px;
@x-action4: 60px;
@x-action5: 38px;
@x-action6: 13px;

@y-action1: -12px;
@y-action2: -37px;
@y-action3: -60px;
@y-action4: -79px;
@y-action5: -92px;
@y-action6: -99px;
*/