.vanscribe {
  
}

@museo: "museo-1", "museo-2", "Helvetica Neue", sans-serif;

.shadow {
  -moz-box-shadow: 0 0 8px 4px rgba(216, 216, 216, 0.7);
  -webkit-box-shadow: 0 0 8px 4px rgba(216, 216, 216, 0.7);
}

.stackable {
  float: left;
}

.noscript {
  text-align: center;
  font-weight: 700;
  color: red;
  width: @4cols;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  /*color: @color-anchor;*/
  text-decoration: none;
}

.fake_icon {
  background-color: @color-emphasis;
  color: @color-background;
  vertical-align: middle;
  text-align: center;
}

.clear {
  clear: both;
}

#container {
  /*.shadow;*/
  margin: 0 auto;
}

#container, #masthead, #masthead .heading, .container, #footer {  
  max-width: none;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}

#masthead, .container, #footer {
  background-color: @color-background;
/*  padding: 0 18/@em;
  margin: 0 auto;
  max-width: @8cols;
  background-color: @color-background;*/
}

#masthead {
  /*padding-top: 8/@em;*/
  /*text-align: center;*/
  .heading-outer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    overflow: visible;
    background-color: #222;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    padding-left: .4em;
    /*width: @4cols - .4em !important;*/
    color: white;
    margin: 0 auto;
    a, a:visited {
      color: white;
    }

    .fake_icon, .h1 {
      font-size: 1.8em;
      float: left;
      line-height: 1.25em;
    }
    .help {
      float: right;
      width: @1col;
      text-align: center;
      margin-top: (36/@em - 24/@em) / 2;
      opacity: .8;
    }

    .fake_icon {
      background-color: transparent;
      padding-right: .2em;
    }
    .h1 {
      font-family: @museo;
      font-weight: 900;
      font-style: italic;
    }
  }
}

.container {
  padding-top: 36/@em;
}

section#play {
  
  .menu {
    @menu-height: 36/@em;
    a, a:visited {
      color: blue;
    }

    height: @menu-height;
    line-height: @menu-height;
    margin-top: -1/@em;
    /*padding: 3/@em 7/@em;*/
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    overflow: hidden;

    #stats {
      width: @16cols;
      height: @menu-height;

      .statholder {
        height: @menu-height;
        font-family: @museo;
        font-weight: 700;
      }
      .statholder:not(:first-child) {
        border-left: 1px solid white;
      }

      .divider {
        height: @menu-height;
        width: (@gutter - 2)/@em;
        border-right: 1px solid #DDD;
      }

      .stat {
        height: @menu-height;
        overflow: hidden;
        .menutext {
          font-size: 1.25em;
        }
        a {
          font-size: 1.25em;
        }
      }
      .stat.icon {
        width: @1col - 1/@em;
        text-align: center;
        a img {
          margin-left: -.2em;
        }
      }

      .purse {
        width: @3cols;

        #purse_value_container {
          color: #232;
          height: @menu-height;
          width: 132/@em;
          overflow: hidden;
        }
      }

      .leaderboards {
        width: @3cols;
      }
    }
  }

  #alltables {
    h3 {
      margin-top: .7em;
      margin-bottom: 4/@em;
      small {
        font-size: .8em;
      }
    }
    .tables {
      color: #333;
      margin-bottom: .7em;
      .table.heading p {
        font-weight: 600;
      }
      .table {
        width: @4cols;
        
        > div {
          float: left;
        }
        .name {
          width: @2cols;
          margin-right: (@gutter - 2)/@em;
        }
        .seats, .locked {
          max-width: @1col;
          text-align: center;
        }
        .seats {
          margin-right: (@gutter - 2)/@em;
        }
        .locked {
          > p {
            margin-left: -4/@em;
          }
        }
      }
    }  
  }
  
  #gamelog {
    height: 14em;
    background-color: #FFFCCF;
    overflow: scroll;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    border: 2px solid gray;
    margin-bottom: .5em;
    padding: 10/@em;
    p {
      font-size: .7em;
    }
  }
  .current_table {
    @player-height: 36/@em;
    
    /*background-image: url(/img/felt.png);*/
    /*background-color: lightgray;*/

    font-family: @museo;
    font-style: italic;
    font-weight: 700;
    color: black;
    /*overflow: hidden;*/

    .player {
      height: @player-height;
      line-height: @player-height;
      margin-bottom: 1/@em;
      background-color: #18442d;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      color: white;

      .seat {
        width: @16cols;
      }

      p {
        font-size: .75em;
        margin-left: 10/@em;
        text-shadow: 1px 1px 2px #333;
        line-height: @player-height;
      }
      
      .user, .hand {
        margin-right: @gutter / @em;
      }
      .user {
        width: @2cols;
        min-height: @player-height;
        /*overflow: hidden; */
        float: left;
        z-index: 5;

        .avatar {
          @avatar-width: 24/@em;
          @avatar-height: 21/@em;
          overflow: hidden;
          margin-left: 8/@em;
          float: left;

          img {
            width: @avatar-width;
            height: @avatar-height;
            margin-top: (@player-height - @avatar-height) / 2;
            border: 1px solid white;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            clear: both;
          }
        }
        .username {
          float: left;
          width: 73/@em;
          color: white;
        }
        .username.turn {
          color: yellow;
        }
      }
      .playingCards {
        width: @2cols;
        overflow: hidden;
        float: left;
        height: @player-height;
      }
      .hand {
        width: @16cols;
        position: relative;

        .card {
          /*width: 3.3em;*/
          width: 4em;
          position: absolute;
          top: 4/@em;
          box-shadow: .24em .24em .48em #333;
          -webkit-box-shadow: .24em .24em .48em #333;
          -moz-box-shadow: .24em .24em .48em #333;
        }
        .card:nth-child(1) { left: 0; }
        .card:nth-child(2) { left: 10/@em; }
        .card:nth-child(3) { left: 20/@em; }
        .card:nth-child(4) { left: 30/@em; }
        .card:nth-child(5) { left: 40/@em; }
        .card:nth-child(6) { left: 50/@em; }
        .card:nth-child(7) { left: 60/@em; }
        .card:nth-child(8) { left: 70/@em; }
        .card:nth-child(9) { left: 80/@em; }
        .card:nth-child(10) { left: 90/@em; }
        .card:nth-child(11) { left: 100/@em; }
        .card:nth-child(12) { left: 110/@em; }
        .card:nth-child(13) { left: 120/@em; }
        .card:nth-child(14) { left: 130/@em; }
        .card:nth-child(15) { left: 140/@em; }
        .card:nth-child(16) { left: 150/@em; }
        .card:nth-child(17) { left: 160/@em; }
        .card:nth-child(18) { left: 170/@em; }
        .card:nth-child(19) { left: 180/@em; }
        .card:nth-child(20) { left: 190/@em; }
        .card:nth-child(21) { left: 200/@em; }
        .card:nth-child(22) { left: 210/@em; }
      }
    }
    .dealer {
      margin-bottom: 8/@em;
    }
    .self {
      margin-bottom: 8/@em;
      height: @player-height * 1.6;
      .playingCards {
        height: @player-height * 1.6;
      }
    }

    
  }
}




section#rulers figure#grid {
  height: @4cols;
  position: relative;
  overflow: hidden;
  .col {
    width: @1col;
    height: 100%;
    position: absolute;
    left: 50%; top: 0;
    margin-left: 12/@em;
    background: #E8E8E8;
  }
  .col1, .col2, .col3, .col4, .col19, .col20, .col21, .col22, .col23 {
    background: black;
  }

  .col2 {margin-left: (1*72+12)/@em;}
  .col3 {margin-left: (2*72+12)/@em;}
  .col4 {margin-left: (3*72+12)/@em;}
  .col5 {margin-left: (4*72+12)/@em;}
  .col6 {margin-left: (5*72+12)/@em;}
  .col7 {margin-left: (6*72+12)/@em;}
  .col8 {margin-left: (7*72+12)/@em;}
  .col9 {margin-left: (8*72+12)/@em;}
  .col10 {margin-left: (9*72+12)/@em;}
  .col11 {margin-left: (10*72+12)/@em;}
  .col12 {margin-left: (11*72+12)/@em;}
  .col13 {margin-left: (12*72+12)/@em;}
  .col14 {margin-left: (13*72+12)/@em;}
  .col15 {margin-left: (14*72+12)/@em;}
  .col16 {margin-left: (15*72+12)/@em;}
  .col17 {margin-left: (16*72+12)/@em;}
  .col18 {margin-left: (17*72+12)/@em;}
  .col19 {margin-left: -(1*72-12)/@em;}
  .col20 {margin-left: -(2*72-12)/@em;}
  .col21 {margin-left: -(3*72-12)/@em;}
  .col22 {margin-left: -(4*72-12)/@em;}
  .col23 {margin-left: -(5*72-12)/@em;}
  .col24 {margin-left: -(6*72-12)/@em;}
  .col25 {margin-left: -(7*72-12)/@em;}
  .col26 {margin-left: -(8*72-12)/@em;}
  .col27 {margin-left: -(9*72-12)/@em;}
  .col28 {margin-left: -(10*72-12)/@em;}
  .col29 {margin-left: -(11*72-12)/@em;}
  .col30 {margin-left: -(12*72-12)/@em;}
  .col31 {margin-left: -(13*72-12)/@em;}
  .col32 {margin-left: -(14*72-12)/@em;}
  .col33 {margin-left: -(15*72-12)/@em;}
  .col34 {margin-left: -(16*72-12)/@em;}
  .col35 {margin-left: -(17*72-12)/@em;}
  .col36 {margin-left: -(18*72-12)/@em;}
}


#read {
  min-height: 10em;
}
