<section id="colophon" name="colophon">
  <h1>Colophon</h1>
  <h3>Statistics</h3>
  <dl>
    <!-- <dt>Whoa, I spent over 144 hours on this... and its buggy. /cry</dt> -->
    <dt>Codebase is 20MB gzipped. O_o (according to Heroku)</dt>
    <dd> ^ Codebase includes libraries... so not impressive.</dd>
    <dd>4033 lines of CoffeeScript</dd>
    <dd>3 lines of JavaScript</dd>
    <dd>446 lines of HTML</dd>
    <dd>4 icons created from scratch</dd>
    <dd>TBH, stopped doing unittests 25% of the way through.</dd>
    <dd>more info to be added (TBA)</dd>
    <dt>Custom tools created:</dt>
    <dd>falling asleep... TBA later</dd>
  </dl>
  
  <h3>Learned</h3>
  <dl>
    <dt><a href="http://heroku.com">Heroku <img src="/img/icons/newlink.gif"></a></dt>
    <dd>My first time using it.  Wow did it take some elbow grease.</dd>
    <dt><a href="http://beaucollins.github.com/radial-menu/">Radial Menu <img src="/img/icons/newlink.gif"></a></dt>
    <dd>I could watch it jiggle all day.</dd>
    <dt><a href="http://framelessgrid.com/">Frameless <img src="/img/icons/newlink.gif"></a></dt>
    <dd>Fixed-width responsive layouts ftw!</dd>
    <dd>I like how the Leaderboards trophy icon just peeks at you in mobile width.</dd>
    <dt><a href="http://twitter.github.com/hogan.js/">Hogan.js <img src="/img/icons/newlink.gif"></a></dt>
    <dd>Had a LOT of bugs to deal with; but it got really nice and pleasant after I nudged the kinks.</dd>
    <dt><a href="http://lesscss.org/">LessCSS  <img src="/img/icons/newlink.gif"></a>
    <dd>I'm still undecided if this is better than SCSS. Nicer for somethings but both kinda lacking.</dd>
    <dt><a href="http://visionmedia.github.com/mocha/">Mocha <img src="/img/icons/newlink.gif"></a></dt>
    <dd>Better TDD/BDD framework than what I was using; needs coverage support though.</dd>
    <dt>Backbone.js</dt>
    <dd>First time using new version</dd>
    <dt>... More TBA</dt>
  </dl>
  
  <h3>Used</h3>
  <dl>
    <dt>Node.js</dt>
    <dt><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap <img src="/img/icons/newlink.gif"></a></dt>
    <dt><a href="http://code.google.com/p/vectorized-playing-cards/">Vectorized Playing Cards <img src="/img/icons/newlink.gif"></a></dt>
    <dt>... TBA</dt>
  </dl>
<!--   <ul>
    <li></li>
    <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
    
    <li>"<a href="http://selfthinker.github.com/CSS-Playing-Cards/">CSS-Playing-Cards</a>" by Anika Henke &lt;anika@selfthinker.org&gt;</li>
    <li>"<a href="http://beaucollins.github.com/radial-menu">Radial Menu</a>" by Beau Collins</li>
  </ul> -->
</section>