<section id="colophon" name="colophon">
  <h1>Colophon</h1>
  <p>List of stuff I used to build this &amp; learned during the process.</p>
  <dl>
    <dt>Frameless <a href="http://framelessgrid.com/"><img src="/img/icons/newlink.gif"></a></dt>
    <dd></dd>
  </dl>
<!--   <ul>
    <li></li>
    <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
    <li><a href="http://code.google.com/p/vectorized-playing-cards/">Vectorized Playing Cards</a></li>
    <li>"<a href="http://selfthinker.github.com/CSS-Playing-Cards/">CSS-Playing-Cards</a>" by Anika Henke &lt;anika@selfthinker.org&gt;</li>
    <li>"<a href="http://beaucollins.github.com/radial-menu">Radial Menu</a>" by Beau Collins</li>
  </ul> -->
</section>