<section id="read" name="read">
  <!-- Documentation section goes here -->
  <h1>&#x2663; Blackjack</h1>
  <p>Best played using an iPhone.</p>
  <p>This game was built rapidly to demonstrate a wide range of artistic and technical skills.</p>
</section>

<section id="working">
  <h2>Stuff that works</h2>
  <dl>
    <dt>Lobby System</li>
    <dd></dd>
    
    <dt></dt>
  </ol>
</section>

<section id="incomplete">
  <h2>Incomplete Parts</h2>
  <ul>
    <li>Money persistence is not yet implemented.</li>
    <li>Multiplayer rooms have been disabled.</li>
    <li>Non-mobile media queries are incomplete.</li>
    <li>Leaderboards have been disabled.</li>
  </ul>
</section>