<section id="read" name="read">
  <!-- Documentation section goes here -->
  <h1>&#x2663; Blackjack</h1>
  <h4>Instructions</h4>
  <p>Click a table name to join (if seats open)</p>
  <p>Red circle opens action menu</p>
  <p>H = Hit, St = Stand, D = Deal</p>
  <p>Click the (i) to go back to Lobby</p>
  <br/>
  <h4>Rationale</h4>
  <p>Best played using an iPhone.</p>
  <p>(Or shrink the width of your browser for maximum effect)</p>
  <p>This game was designed, built, &amp; deployed over a week to demonstrate a wide range of artistic and technical skills.</p>
  <p>In addition to being a showcase, I forced myself to learn several new things at the cost of time (and possibly health). These cool toys are listed in the Colophon.</p> 
  <p>A few of the more annoying "Tracked but Incomplete" parts will get fixed while it is live... but after a power nap.</p>
</section>

<section id="incomplete">
  <h2>Bug List</h2>
  <dl>
    <dt>iPhone Radial button clickability is too low</dt>
    <dt>Some tables get phantom users, fix coming soonish.</dt>
    <dt>Lobby view should be toggle-able</dt>
    <dd>Lobby "live view" listening is disabled for performance</dd>
    <dt class="strikethrough">Loading message</dt>
    <dd>Heroku apparently has lag spikes = not clear that you're waiting</dd>
    <dt>Better UI/UX improvements</dt>
    <dd>Card sum indicators</dd>
    <dd><span class='strikethrough'>Status message box</span> bugs out the log though</dd>
    <dd>Need to call attention to radial buttons at prompts</dd>
    <dd>Not enough headers/title sections for chunks of the page.</dd>
    <dd>Action bar tooltips so that you can tell what D, St, &amp; H are.</dd>
    <dd>Deal &amp; Stand should force Deal if game is over.</dd>
    <dd>Needs a better way to get back to Table list.</dd>
    <dd>Disabling all of the console.log messages would be nice.</dd>
    <dt>Multiplayer rooms have been disabled.</dt>
    <dt>Chat is disabled until I get can performance up on Heroku</dt>
    <dd>A lot of the work is done for this on both front &amp; back end but it gets a little hairy.</dd>
    <dt>Money persistence is not yet implemented.</dt>
    <dt>Non-mobile media queries are incomplete.</dt>
    <dd>So on a big screen, this doesn't do much for your eyes.</dd>
    <dt>Leaderboards have been disabled.</dt>
    <dt>Unobtrusive version is incomplete</dt>
    <dd>For those pesky JavaScript haters.</dd>
    <dt>Username &amp; Avatar customization is disabled. (related to persistence)</dt>
    <dt>Bet customization is disabled until UI is improved</dt>
    <dt>... a few others, to be added</dt>
  </dl>
</section>

<section id="working">
  <h2>Stuff that works</h2>
  <dl>
    <dt>Lobby System</dt>
    <dd>Move from Table to Table</dd>
    <dt>Basic Gameplay</dt>
    <dd>Deal, Hit, Stand - Blackjack pays 3:1</dd>
    <dd>The casino will bail you out if you go negative</dd>
    <dd>Basic paper log keeps track of wins and losses.</dd>
    <dt>... a few others, to be added</dt>
  </dl>
</section>
