<header id="masthead">
  <div class="heading">
    <div class="fake_icon">&#x2663;</div>
    <div class="h1">Blackjack</div>
    <div class="clear"></div>
  </div>
  
  <p></p>
  <nav id="nav">
    <ul>
      <li>
        <a href="#play">
          <div class="fake_icon">&#x2660;</div>
          <span>Play</span>
        </a>
      </li>
      <li>
        <a href="#read">
          <div class="fake_icon">&#x2318;</div>
          <span>About</span>
        </a>
      </li>
    </ul>
  </nav>
</header>