<header id="masthead">
  <div class="heading-outer">
    <div class="heading">
      <div class="fake_icon"><a href="/">&#x2663;</a></div>
      <div class="h1"><a href="/">Blackjack</a></div>
      <div class="help">
        <a href="#lobby"><img src="/img/icons/info.png" alt="Help"></a>
      </div>
      <div class="clear"></div>
    </div>
    
  </div>
  
<!--   <p></p>
  <nav id="nav">
    <ul>
      <li>
        <a href="#play">
          <div class="fake_icon">&#x2660;</div>
          <span>Play</span>
        </a>
      </li>
      <li>
        <a href="#read">
          <div class="fake_icon">&#x2318;</div>
          <span>About</span>
        </a>
      </li>
    </ul>
  </nav> -->
</header>